<form action="/profile/edit/{{user._id}}" method="POST" id="form-container" enctype="multipart/form-data">
<label for="profilePic">Profile Pic</label>
<p>{{req.user}}</p>
<input id="profilePic" type="file" name="profilePic" value="{{user.profilePic}}"><br><br> 

<label for="username">Username</label>
<input id='username' type="text" name='username' value="{{user.username}}"><br><br>

{{user.email}} <br><br>

<label for="bio">Bio</label>
<input id='bio' type="text" name='bio' value="{{user.bio}}" ><br><br>

{{#if user.isRestaurant}}
<label for="address">Address</label>
<input id='address' type="text" name='address' value="{{user.adress}}"><br><br>
<label for="city">City</label>
<input id='city' type="text" name='city' value="{{user.city}}"><br><br>
{{/if}}

<a href="/profiles/privateProfile"></a>
<button type="submit">Save</button>
{{#if message }}
<div class="error-message">{{ message }}</div>
{{/if}}



</form>






{{!-- uploadCloud.single('profilePic' --}}