<h1>Welcome to your profile, {{user.username}}!</h1>

<section id='restaurantinfo'>
<img src='{{user.profilePic}}' alt='profilePic'>  
<p>email: {{user.email}}</p>
<p>Address: {{user.address}}</p>
<p>City: {{user.city}}</p>
</section>

<a href="/profile/edit/{{user._id}}">Edit my profile</a>
<a href="/profile/search">List all users</a>

{{#if user.isRestaurant}}
<h3>Search for a customer:</h3>
{{#each rest}}
<a href="publicProfile/{{_id}}">{{username}}</a> <br>
{{/each}}
{{/if}}


{{!-- <section>{{#each rest.username}}
  <a href="">{{rest.username}}</a>
  {{/each}}
  <a href="publicProfile/{{rest._id}}">Make a review</a>
  <br>
  <a href="">Give a discount</a>
</section> --}}


{{!-- {{#if user.isRestaurant}}
<section>{{#each user.username}}
  <a href="">{{user.username}}</a>
  {{/each}}
  <a href="publicProfile/:id">Make a review</a>
  <br>
  <a href="">Give a discount</a>
</section>
{{else}}
<section>{{#each reviews}}
  <p>{{reviews}}</p>
  {{/each}}
</section>
{{/if}} --}}




